<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory>packages/core/tests</directory>
        </testsuite>
        <testsuite name="Slack">
            <directory>packages/drivers/slack/tests</directory>
        </testsuite>
        <testsuite name="GitHub">
            <directory>packages/drivers/github/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
